<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/website/css/style_santri.css"/>        
        <title>Selamat Datang Di Portal Al-Munawwir</title>
        <link rel="icon" type="image/png" href="/website/img/logo.jpg">

    </head>
    <body>
        <div id="header">
            <h3>AL MUNAWWIR</h3>
            <h4>Krapyak Yogyakarta</h4>
            <div class="logout">
                <a href="/logout">Log Out</a>
            </div>
        </div>
        <div class="row">
            <div class="row-atas">
                <div class="col-2"bac>
                    <div class="logo">
                        <img src="/website/img/logo.jpg" alt="Logo PP Al-Munawwir">
                    </div>
                    <div class="menu-kiri">
                        <ul id="menukiri">
                            <li><a href="/santri/index">Data Santri</a></li>
                            <li><a href="/nilai/index">Data Nilai</a></li>
                            <li><a href="/kajian">Jadwal Kajian</a></li>
                            <li><a href="/kegiatan/santri">Jadwal Kegiatan</a></li>
                            <li><a href="/jurnal/index">Data Jurnal</a></li>
                            <li><a href="/logon/ubahpwadmin">Ubah Password</a></li>
                        </ul>
                    </div>                    
                </div>
                <div class="col-10">
                    <div class="row" id="submenu">
                    
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="content" style="overflow-x:auto;">
                                <div class="conten-input">
                                    <h2>UBAH PASSWORD ADMIN</h2>
                                    <form action="/logon/ubahpwadmin" method="POST">
                                        <label for="nama"><b>Password Lama</b></label>
                                        <input type="password" class="form-control" name="passwordlama" placeholder="Password Lama.." required><br>
        
                                        <label for="passwordbaru"><b>Password Baru</b></label>
                                        <input type="password" class="form-control" name="passwordbaru"  id="password" placeholder="Password Baru.." required><br>
        
                                        <label for="ulangpasswordbaru"><b>Ulangi Password</b></label>
                                        <input type="password" class="form-control" name="ulangpasswordbaru"  id="confirm_password"  placeholder="Ulangi Password Baru.." required><br>
            
                                        <input type="submit" value="Simpan">
                                        <input type="reset" value="Reset">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer">
                <p>Copyright &copy; 2018</p>
                <p>Designed By Ahmad Qomaruddin</p>  
            </div>
        </div>
        <script>
            var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm_password");

            function validatePassword(){
                if(password.value != confirm_password.value) {
                    confirm_password.setCustomValidity("Passwords Don't Match");
                } else {
                    confirm_password.setCustomValidity('');
                }
            }
            password.onchange = validatePassword;
            confirm_password.onkeyup = validatePassword;
        </script>
    </body>    
</html>