<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/website/css/style_santri.css">        
        <title>Selamat Datang Di Portal Al-Munawwir</title>
        <link rel="icon" type="image/png" href="/website/img/logo.jpg">

    </head>
    <body>
        <div id="header">
            <h3>AL MUNAWWIR</h3>
            <h4>Krapyak Yogyakarta</h4>
            <div class="logout">
                <a href="/logout">Log Out</a>
            </div>
        </div>
        <div class="row">
            <div class="row-atas">
                <div class="col-2">
                    <div class="logo">
                        <img src="/website/img/logo.jpg" alt="Logo PP Al-Munawwir">
                    </div>
                    <div class="menu-kiri">
                        <ul id="menukiri">
                            <li><a href="/santri/index">Data Santri</a></li>
                            <li><a href="/nilai/index">Data Nilai</a></li>
                            <li><a href="/kajian">Jadwal Kajian</a></li>
                            <li><a href="/kegiatan/santri">Jadwal Kegiatan</a></li>
                            <li><a href="/jurnal/index">Data Jurnal</a></li>
                            <li><a href="/logon/ubahpwadmin">Ubah Password</a></li>
                        </ul>
                    </div>                    
                </div>
                <div class="col-10">
                    <div class="row" id="submenu">
                        <form action="/santri/data/getSantri-Nis" method="POST">
                            <input type="button" value="Data Santri" onclick="window.location.href='/santri/dataAll-daftar'">
                            <input type="button" value="Tambah Data Santri" onclick="window.location.href='/santri/dataInsert-handle'">
                            <input type="text" id="byid" name="nis" placeholder="Nomor Induk Santri.." required>
                            <input type="submit" value="Cari">
                        </form>
                        <form action="/santri/data/komplek" method="POST">
                            <select name="komplek"  class="select-komplek">
                                <option selected>--Pilih Komplek--</option>
                                <option value="110">Komplek AB</option>
                                <option value="701">Komplek Gipa</option>
                                <option value="081">Huffadz 1</option>
                                <option value="082">Huffadz 2</option>
                                <option value="901">Komplek IJ</option>
                                <option value="012">Komplek L Putra</option>
                                <option value="013">Komplek L Putri</option>
                                <option value="015">Komplek M</option>
                                <option value="231">Nurussalam Putra</option>
                                <option value="232">Nurussalam Putri</option>
                                <option value="601">Padang Jagad</option>
                                <option value="005">Komplek Q</option>
                                <option value="061">Komplek R1</option>
                                <option value="062">Komplek R2</option>
                                <option value="056">Ribatul Qur'an</option>
                            </select>
                            <input type="submit" value="Cari">
                        </form>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="content" style="overflow-x:auto;">
                                <h2>Santri Pondok Pesantren Al-Munawwir Krapyak</h2>
                                <p class="paragrap-1">
                                    
                                </p>
                                <div class="row">
                                    <div class="col-4" id="content-img">
                                        <a href="/website/img/kegiatan1.jpg" target="_blank">
                                            <img src="/website/img/kegiatan1.jpg" alt="Kegiatan di PP Al-Munawwir">
                                        </a><br><br>
                                        <a href="/website/img/kegaitan2.jpg" target="_blank">
                                            <img src="/website/img/kegaitan2.jpg" alt="Kegiatan di PP Al-Munawwir">
                                        </a>
                                    </div>
                                    <div class="col-4" id="content-img">
                                        <a href="/website/img/santri1.jpg" target="_blank">
                                            <img src="/website/img/santri1.jpg" alt="Kegiatan di PP Al-Munawwir">
                                        </a><br><br>
                                        <a href="/website/img/kegaitan4.jpg" target="_blank">
                                            <img src="/website/img/kegaitan4.jpg" alt="Kegiatan di PP Al-Munawwir">
                                        </a>
                                    </div>
                                    <div class="col-4" id="content-img"> 
                                        <a href="/website/img/santri3.jpg" target="_blank">
                                            <img src="/website/img/santri3.jpg" alt="Kegiatan PP Al-Munawwir">
                                        </a><br><br>
                                        <a href="/website/img/santri4.jpeg" target="_blank">
                                            <img src="/website/img/santri4.jpeg" alt="Kegiatan di PP Al-Munawwir">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer">
                <p>Copyright &copy; 2018</p>
                <p>Designed By Ahmad Qomaruddin</p>  
            </div>
        </div>
    </body>    
</html>