<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/website/css/style_kegiatan.css"/>        
        <title>Selamat Datang Di Portal Al-Munawwir</title>
        <link rel="icon" type="image/png" href="/website/img/logo.jpg">

    </head>
    <body>
        <div id="header">
            <h3>AL MUNAWWIR</h3>
            <h4>Krapyak Yogyakarta</h4>
            <div class="logout">
                <a href="/logout">Log Out</a>
            </div>
        </div>
        <div class="row">
            <div class="row-atas">
                <div class="col-2"bac>
                    <div class="logo">
                        <img src="/website/img/logo.jpg" alt="Logo PP Al-Munawwir">
                    </div>
                    <div class="menu-kiri">
                        <ul id="menukiri">
                            <li><a href="/santri/index">Data Santri</a></li>
                            <li><a href="/nilai/index">Data Nilai</a></li>
                            <li><a href="/kajian">Jadwal Kajian</a></li>
                            <li><a href="/kegiatan/santri">Jadwal Kegiatan</a></li>
                            <li><a href="/jurnal/index">Data Jurnal</a></li>
                            <li><a href="/logon/ubahpwadmin">Ubah Password</a></li>
                        </ul>
                    </div>                    
                </div>
                <div class="col-10">
                    <div class="row" id="submenu">
                        <input type="button" value="Kegiatan Harian" onclick="window.location.href='/kegiatan/santri/harian'">
                        <input type="button" value="Kegiatan Penunjang" onclick="window.location.href='/kegiatan/santri/dataJadwal'">
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="content" style="overflow-x:auto;">
                                <div class="content-menu">
                                    <form action="/kegiatan/santri/harian/getid">
                                        <input type="button" value="Tambah Kegiatan Harian" onclick="window.location.href='/kegiatan/santri/harian/insert'">
                                        <input type="text" id="byid" name="id" placeholder="Id Kegiatan Harian.." required>
                                        <input type="submit" value="Cari">
                                    </form>
                                </div>
                                <div class="content-table">
                                    <h2>DETIL DATA JADWAL KEGIATAN SANTRI </h2>  
                                    <h3>PP. Al-Munawwir Krapyak</h3>
                                    <table>
                                        <tr>
                                            <td><b>ID</b></td>
                                            <td>{{.Id}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Nama Kegiatan</b></td>
                                            <td>{{.Waktu}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Tanggal</b></td>
                                            <td>{{.KegiatanMadarasah}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Waktu</b></td>
                                            <td>{{.KegiatanTahfidzulQuran}}</td>
                                        </tr>
                                        <tr>
                                            <td><b>Lokasi</b></td>
                                            <td>{{.KeteranganKh}}</td>
                                        </tr>
                                    </table>
                                    <form action="/kegiatan/santri/harian/udpdate">
                                        <input type="hidden" id="id"  name="id" value="{{ .Id}}"><br>
                                        <input type="submit" id="update" value="Update" onclick="window.location.href='/kegiatan/santri/harian/udpdate'">
                                    </form>
                                    <form action="/kegiatan/santri/harian/delete">
                                        <script type="text/javascript" language="javascript">
                                            function konfirmasi(){
                                                tanya = confirm("Anda yakin akan menghapus data?");
                                                if (tanya == true) return true;
                                                else return false;
                                            }
                                        </script>
                                        <input type="hidden" id="id"  name="id" value="{{ .Id}}"><br>
                                        <input type="submit" id="hapus" value="Delete" href="/kegiatan/santri/harian/delete" onclick="return konfirmasi()">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="footer">
                <p>Copyright &copy; 2018</p>
                <p>Designed By Ahmad Qomaruddin</p>    
            </div>
        </div>
    </body>    
</html>