* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
html {
    font-family: "Lucida Sans", sans-serif;
}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}
/* MENU KIRI========================================== */
.col-2 {
    background-color: #F0F8FF;
}
.logo{
    text-align: center; 
}
.logo img{
    width: 50%;
    height: 50%;   
    margin-top: 30%;
}
#menukiri{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-top: 10%;
}
#menukiri li {
    font-family: "Lucida Sans", sans-serif;
    text-align: center;
    list-style: none;
    padding: 0.5em;
    width: 100%;
}
#menukiri a {
    color: rgb(12, 90, 46);
    font-family: "Lucida Sans", sans-serif;
    display: inline-table;
    text-decoration: none;
    font-size: 100%;
    text-align: center;
}
#menukiri a:hover{
    color: #FFA500;
}
/* =================================================== */


/* COL 10 KONTEN ===============*/
.col-10{
    margin: 0;
    padding: 0;
}
/* ============================== */


/* SUB MENU ======================================== */
#submenu {
    background-color: #D3D3D3;
}
#submenu button{
    background-color: #008CBA;
    border: none;
    padding: 10px;
    font-size: 16px;
    align-content: center;    
    cursor: pointer;
    border-radius:8px; 
    color: white;
    width: 130px;
    margin: 10px;
}
#submenu button:hover{
    background-color: white;
    color: black;
}
/* ================================================= */

/* CONTENT ====================== */
#content table{
    border-collapse: collapse;
    width: 100%;
}
#content th, td{
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
#content th {
    background-color: #4CAF50;
    color: white;
}
#content tr:hover{
    background-color:#f5f5f5;
}
/* ============================== */


/*FOOTER =============================================*/
.footer {
    background-color:#2E8B57;
    font-family: "Lucida Sans", sans-serif;
    padding: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: #ffffff;
}
/* ==================================================== */
.logout a{
    float: right;
    margin-right: 20px;
    position: relative;
    bottom: 30px;
    text-decoration: none;
    display: block;
    color: white;
}
.logout a:hover{
    color: orange;
}